<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','G-SZRX5NFVPY');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Are you truly informed? Read, write and predict to share the best information and watch as the good worldviews live on and poor ones die. Ideas, Battletested. Discuss world events and improve your brier score">
    <link rel="icon" href="{% static 'logo/logo-head.png' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Cram Exam</title>
    <script type="text/javascript">
      (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
      ;r.type="text/javascript"
      ;r.integrity="sha384-u0hlTAJ1tNefeBKwiBNwB4CkHZ1ck4ajx/pKmwWtc+IufKJiCQZ+WjJIi+7C6Ntm"
      ;r.crossOrigin="anonymous";r.async=true
      ;r.src="https://cdn.amplitude.com/libs/amplitude-8.1.0-min.gz.js"
      ;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
      console.log("[Amplitude] Error: could not load SDK")}}
      ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
      ;function s(e,t){e.prototype[t]=function(){
      this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
      var o=function(){this._q=[];return this}
      ;var a=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove"]
      ;for(var c=0;c<a.length;c++){s(o,a[c])}n.Identify=o;var u=function(){this._q=[]
      ;return this}
      ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
      ;for(var p=0;p<l.length;p++){s(u,l[p])}n.Revenue=u
      ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","enableTracking","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
      ;function v(e){function t(t){e[t]=function(){
      e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
      for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
      e=(!e||e.length===0?"$default_instance":e).toLowerCase()
      ;if(!Object.prototype.hasOwnProperty.call(n._iq,e)){n._iq[e]={_q:[]};v(n._iq[e])
      }return n._iq[e]};e.amplitude=n})(window,document);
    
      amplitude.getInstance().init("0509cf23bbf05ae34310ddb2d6f928cd");
      
    </script>
    <script src="https://kit.fontawesome.com/f303d45608.js" crossorigin="anonymous"></script>
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white  border-bottom p-1">
        <a class="brand-holder ml-5 m-0 p-0 " href="{% url 'mcqgenerator:file_drop' %}">
          <img src="{% static 'logo/brandred-removebg.png' %}"  class="brand-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row justify-content-center" id="navbarNavDropdown">
          <ul class="navbar-nav nav-list justify-content-space-between">
            <li class="nav-item intentional-empty-space"></li>
            <li class="nav-item ">
              <ul class="d-flex flex-row align-items-center mx-auto shift">
                <li class="nav-item nav-option">
                  <a class="nav-link main-link " id="qbank-nav" >
                    <span class="sr-only">(current)</span>
                      Question Bank
                  </a>
                </li>
                <li class="nav-item nav-option">
                  <a class="nav-link main-link" >
                    <span class="sr-only">(current)</span>
                      Blog
                  </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item nav-option">
                  <a class="nav-link main-link" href="{% url 'users:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item active nav-option">
                  <a class="nav-link main-link" id="loginNav">Login</a>
                </li>
                <li class="nav-item active nav-option">
                  <a class="nav-link main-link" id="registerNav">Register</a>
                </li>
                {% endif %}
              </ul>
            </li>
          

            <li class="nav-item">
              <ul class="d-flex flex-row">
                <ul class="contact-info">
                  <li>
                    <a class="nav-link m-0 p-1" href="#">Phone: 0800 3008423</a>
                  </li>
                  <li>
                    <a class="nav-link m-0 p-1" href="#">Email: admin@cramexam.io</a>
                  </li>
                </ul>
                <li class="social-icon ">
                  <a class="nav-link " href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="social-icon">
                  <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="social-icon">
                  <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>


      {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      
      {% endif %}

      <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="registerModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLongTitle">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="register_form" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label for="registerInputEmail1">Username</label>
            <input name="username" type="text" class="form-control" id="registerInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="registerInputPassword1">Password</label>
            <input name="password1" type="password" class="form-control" id="registerInputPassword1" placeholder="Password">

          </div>
          <div class="form-group">
            <label for="registerInputPassword1">Confirm Password</label>
            <input name="password2" type="password" class="form-control" id="registerInputPassword2" placeholder="Password">
          </div>    
          <div id="registerFeedback">
          </div>
          <div class="modal-footer">
            <a id="toLogin"  class="change-modal mr-2">Have an account? Login here</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="register" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLongTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form id="login_form" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">
            
            <label for="loginInputEmail1">Username</label>
            <input name="username" type="text" class="form-control" id="loginInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">            
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="loginInputPassword1" placeholder="Password">
            <div class="invalid-feedback">
              Username or password is incorrect.
            </div>
          </div> 
    
          <input id="intent" name="intent" type="hidden" value="">

          <div class="modal-footer">
            <a id="toRegister" class="change-modal mr-2">Need an account? Sign Up</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="signIn" class="btn btn-primary">Submit</button>
          </div>
        
        </form>
      </div>
    </div>
  </div>
</div>



    <main style="background-color: #ecf0f3;">
    {% block body %}
    {% endblock %}
  </main>
    

      <footer>
        <div class='inner-footer'>
          <div class='brand-holder' id="footer-logo" data-aos="fade-right" data-aos-delay="200">
              <img class="brand-logo" src="{% static 'logo/logo-head.png' %}" >
              <h2>Cram Exam</h2>
          </div>

          
          <div class="footer-third" data-aos="fade-right" data-aos-delay="200">
            <h3>Contact</h3>
            <ul class="contact-info">
              <li>
                <a class="nav-link m-0 p-1" href="#">Phone: 0800 3008423</a>
              </li>
              <li>
                <a class="nav-link m-0 p-1" href="#">Email: admin@cramexam.io</a>
              </li>
            </ul>
          </div>
          <div class="footer-third" data-aos="fade-left" data-aos-delay="200">
            <h3>Newsletter</h3>
            <form method="POST" id="newsletter_form">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="text" id="email" class="form-control" name="email" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit" id="button-addon2">Subscribe</button>
                </div>
              </div>
            </form>
          </div>

          <div class="footer-third follow" data-aos="fade-left" data-aos-delay="200">
            <h3>Follow us</h3>
                <p>Let us be Social</p>
                <div class="d-flex flex-row">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
              
          </div>
          
        </div>
      </footer>


<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script>
  $(document).ready(function () {
    AOS.init();
  

    function fadeOutEffect() {
      var fadeTarget = document.getElementById("messages");
      fadeTarget.classList.add("hide");
    }

    window.addEventListener('load', fadeOutEffect);
// Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {


          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            //form.classList.add('was-validated');
            form.querySelectorAll("div input").forEach(function(node){
                node.classList.add("is-invalid");
            })
          }, false)
        })
    })()



  var qbankUrl = "{% url 'mcqgenerator:question_bank' %}";

    $("#qbank-nav").click( function (event) {

        $.ajax({
            type: 'GET',
            url: qbankUrl,
            success: function (response) {
              var unauthorized = false;
              try{
                unauthorized = JSON.parse(response)["not_authenticated"];
              }
              catch(err){
                console.log("errororoeo" + err);
              }
              if (unauthorized){
                $('input[name="intent"]').val(qbankUrl);
                $("#loginModalCenter").modal('toggle');
              } else {
                window.location.href = qbankUrl;
              }
            } 
        })

      })
  
    $("#loginNav").click(function(){
      $("#loginModalCenter").modal('toggle');
    });
    $("#toLogin").click(function(){
      $("#registerModalCenter").modal('toggle');
      $("#loginModalCenter").modal('toggle');
    });


    $("#registerNav").click(function(){
      $("#registerModalCenter").modal('toggle');
    });
    $("#toRegister").click(function(){
      $("#loginModalCenter").modal('toggle');
      $("#registerModalCenter").modal('toggle');
    });

  var signInUrl = "{% url 'users:ajax_login' %}";
    $("#login_form").submit( function (event) {
      event.preventDefault();
      let serializedData = $(this).serialize();
      
      $.ajax({                                                                                                                           
          type:"POST",                                                                                                                    
          url: signInUrl,                                                                                                   
          data: serializedData,                                                                                  
          success: function(response){
            if(response.success == "true") {
              window.location.href = $('input[name="intent"]').val();   // change to general case 
            } else {

            }                                                                                           
          },                                                                                                                             
      });
  })

  var registerUrl = "{% url 'users:ajax_register' %}"; 
  $("#register_form").submit( function (event) {
      event.preventDefault();
      let serializedData = $(this).serialize();
      
      $.ajax({                                                                                                                           
          type:"POST",                                                                                                                    
          url: registerUrl,                                                                                                   
          data: serializedData,                                                                                  
          success: function(response){
            if(response.success == "true") {
              console.log("daedfse");  // change to general case 
              location.reload();
            } else {
              
              document.getElementById("registerFeedback").innerHTML = response.message;

            }                                                                                           
          },                                                                                                                             
      });
  })

  var newsletterUrl = "{% url 'surveys:post_newsletter_email' %}";

  $("#newsletter_form").submit( function (event) {
      event.preventDefault();
      let newsletterData = $(this).serialize();

      $.ajax({
              type: 'POST',
              url: newsletterUrl,
              data: newsletterData, 
              success: function (response) {
                  alert("newslteter success");
              },
              error: function (response) {
                  // alert the error if any error occured
                  alert("newslteter FAIL");

              }

          })
      });
})
</script>


{% block javascript %}
{% endblock %}
</body>
</html>